<div class="cl action">
    <span class="l">
        {notempty name="version_list"}<a data-toggle="tooltip" data-placement="top" data-title="升级所有版本" class="btn  btn-success radius-rounded mr-10"  href="javascript:;" onclick="open_iframe('自动升级-程序侠','{:url("Upgrade/autoUpgrade")}')"><i class="Hui-iconfont">&#xe6e6;</i> 自动升级</a>{/notempty}    
    </span>
    <span class="r c-success mr-20" style="line-height: 30px;">
        <strong><span class="c-333">当前版本 :</span> {$this_release}</strong>
    </span>
</div>