{extend name="public/base" /}
{block name="style"}
<style>
    .content-box .form{border: 1px solid #e9e9e9;    padding-bottom: 20px;}
    .content-box .tabBar{border-bottom: 1px solid #e9e9e9;}
</style>
{/block}
{block name="content"}
<div class="page-container">
<div class="content-box">
	<form class="form form-horizontal" id="form-article-add">
		<input type="hidden" name="type" value="1">
		<div id="tab-system" class="HuiTab">
			<div class="tabBar cl"><span>基本设置</span><span>上传图片</span><span>性能优化</span><span>其他设置</span></div>
			<div class="tabCon">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">站点网址：</label>
					<div class="formControls col-xs-8 col-sm-6">
						<input type="text" id="website-url" name="WEB_SITE_URL" placeholder="比如：http://www.chengxuxia.com" value="" class="input-text">
					</div>
					<div class="col-xs-3 col-sm-3"><span class="label label-success radius" style="padding:4px;">必须以http://开头，/结尾</span></div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">网站名称：</label>
					<div class="formControls col-xs-8 col-sm-6">
						<input type="text" id="website-title" name="WEB_SITE_NAME" placeholder="比如：程序侠" value="" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">底部版权信息：</label>
					<div class="formControls col-xs-8 col-sm-6">
						<input type="text" id="website-copyright" placeholder="比如：&copy; 2016 chengxuxia.com" value="" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">网站备案号：</label>
					<div class="formControls col-xs-8 col-sm-6">
						<input type="text" id="WEB_SITE_ICP" placeholder="比如：京ICP备00000000号" value="" class="input-text">
					</div>
				</div>
				
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">淘点金代码：</label>
					<div class="formControls col-xs-8 col-sm-6">
						<textarea name="WEB_SITE_TDJ" class="textarea"></textarea>
					</div>
					<div class="col-xs-3 col-sm-3"><span class="label label-success radius" style="padding:4px;">按照教程从阿里妈妈后台获取</span></div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">统计代码：</label>
					<div class="formControls col-xs-8 col-sm-6">
						<textarea name="WEB_SITE_STATISTICS" class="textarea"></textarea>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">META验证代码：</label>
					<div class="formControls col-xs-8 col-sm-6">
						<textarea name="WEB_SITE_META" class="textarea"></textarea>
					</div>
					<div class="col-xs-3 col-sm-3"><span class="label label-success radius" style="padding:4px;">按照教程从阿里妈妈后台获取</span></div>
				</div>
				<div class="row cl">
	                <label class="form-label col-xs-4 col-sm-3">网站状态：</label>
	                <div class="formControls col-xs-6 col-sm-6 skin-minimal">
	                    <div class="radio-box">
	                        <input type="radio" name="WEB_SITE_STATUS"  checked="checked" value="1">
	                        <label for="status-1">启用</label>
	                    </div>
	                    <div class="radio-box">
	                        <input type="radio" name="WEB_SITE_STATUS"  value="0">
	                        <label for="status-0">关闭</label>
	                    </div>
	                </div>
	                <div class="col-xs-3 col-sm-3"></div>
            	</div>
			</div>
			<div class="tabCon">
				<div class="row cl hide" id="img_url">
                    <label class="form-label col-xs-4 col-sm-3"></label>
                    <div class="formControls col-xs-8 col-sm-6">
                        <img   width="100px" >
                    </div>
                </div>
                <div class="row cl"> 
                    <label class="form-label col-xs-4 col-sm-3">网站LOGO：</label>
                    <div class="formControls col-xs-7 col-sm-6"> 
                        <span class="btn-upload form-group">
                            <input class="input-text upload-url" type="text" style="width:500px"  placeholder="商品图片" name="WEB_SITE_LOGO" value="{$vo.img ?? ''}"  datatype="*" nullmsg="商品图片不能为空">
                            <a href="javascript:void();" class="btn btn-primary upload-btn"><i class="Hui-iconfont"></i> 上传图片</a>
                            <input type="file" multiple="" name="file-2" class="input-file">
                        </span>
                    </div>
                    <div class="col-xs-3 col-sm-3"><span class="label label-success radius" style="padding:4px;">图片尺寸：250px × 60px</span></div>
                </div>
				<div class="row cl hide" id="img_url">
                    <label class="form-label col-xs-2 col-sm-2"></label>
                    <div class="formControls col-xs-6 col-sm-6">
                        <img   width="100px" >
                    </div>
                </div>
                <div class="row cl"> 
                    <label class="form-label col-xs-4 col-sm-3">商品背景图：</label>
                    <div class="formControls col-xs-7 col-sm-6"> 
                        <span class="btn-upload form-group">
                            <input class="input-text upload-url" type="text" style="width:500px"  placeholder="尺寸：250px × 60px" name="WEB_SITE_LOGO" value="{$vo.img ?? ''}"  datatype="*" nullmsg="商品图片不能为空">
                            <a href="javascript:void();" class="btn btn-primary upload-btn"><i class="Hui-iconfont"></i> 上传图片</a>
                            <input type="file" multiple="" name="file-2" class="input-file">
                        </span>
                    </div>
                    <div class="col-xs-3 col-sm-3"></div>
                </div>
			</div>
			<div class="tabCon">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">邮件发送模式：</label>
					<div class="formControls col-xs-8 col-sm-6">
						<input type="text"  class="input-text" value="" id="" name="">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">SMTP服务器：</label>
					<div class="formControls col-xs-8 col-sm-6">
						<input type="text" id="" value="" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">SMTP 端口：</label>
					<div class="formControls col-xs-8 col-sm-6">
						<input type="text" class="input-text" value="25" id="" name="" >
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">邮箱帐号：</label>
					<div class="formControls col-xs-8 col-sm-6">
						<input type="text" class="input-text" value="5" id="emailName" name="emailName" >
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">邮箱密码：</label>
					<div class="formControls col-xs-8 col-sm-6">
						<input type="password" id="email-password" value="" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">收件邮箱地址：</label>
					<div class="formControls col-xs-8 col-sm-6">
						<input type="text" id="email-address" value="" class="input-text">
					</div>
				</div>
			</div>
			<div class="tabCon">
				
			</div>
		</div>
		<div class="row cl mt-20">
			<div class="col-xs-8 col-sm-6 col-xs-offset-4 col-sm-offset-3">
				<button class="btn btn-success mr-20 radius-rounded" type="submit">&nbsp;<i class="Hui-iconfont">&#xe6a7;</i> 保存</button>
                <button type="button" class="btn btn-default radius-rounded" onclick="layer_close();">&nbsp;<i class="Hui-iconfont">&#xe6a6;</i> 取消&nbsp;</button>
			</div>
		</div>
	</form>
</div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-green',
            radioClass: 'iradio-green',
            increaseArea: '20%'
        });
	$.Huitab("#tab-system .tabBar span","#tab-system .tabCon","current","click","0");
});
</script>
{/block}