{include file="common:head"}
<div class="tab-area-plh">
        <div class="tab-area">
            <div class="wrapper">
                <div class="cate-area">
                    <a class="cate-item jxtj {eq name='alias' value='index'}active{/eq}" href="{:get_config('WEB_SITE_URL')}">
                        <span class="cate-rec">精选推荐</span>
                    </a>
                    {nav name='nav'}
                    <a href="{$nav.link|nav_url}" class="cate-item {eq name='nav.alias' value='$alias'}active{/eq}">
                        {$nav['name']}
                    </a>
                    {/nav}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cate-box">
<div class="tab-area" style="display:none">
    <div class="wrapper hori-cate-area">
        <div class="cate-l-1">
            <div class="wrapper">
                <a href="{:get_config('WEB_SITE_URL')}" class=""><i class="cate-icon">&#xe632;</i>  今日新品</a>
                {volist name='cate' id='vo'}
                <a href="{:url('Cate/index',['id'=>$vo.id])}" class=""><i class="cate-icon">{$vo['icon']}</i> {$vo['name']}</a>
                {/volist}
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="order-area">
            <ul class="sort-type">
                <li style="padding-left: 15px;"><i class="cate-icon" style="font-size:14px">&#xe682;</i> 排序筛选</li>
                <li data-sort="new" class="{eq name='sort' value='new'}active{/eq}">最新 <i class="cate-icon" style="font-size:14px">&#xe607;</i></li>
                <li data-sort="volume" class="{eq name='sort' value='volume'}active{/eq}">销量 <i class="cate-icon" style="font-size:14px">&#xe607;</i></li>
                <li data-sort="price" class="{eq name='sort' value='price'}active{/eq}">价格 <i class="cate-icon" style="font-size:14px">&#xe607;</i></li>
                <li data-sort="quan" class="{eq name='sort' value='quan'}active{/eq}">券额 <i class="cate-icon" style="font-size:14px">&#xe607;</i></li>
                <li data-sort="surplus" class="{eq name='sort' value='surplus'}active{/eq}">剩余 <i class="cate-icon" style="font-size:14px">&#xe607;</i></li>
            </ul>
            <ul class="price-filter">
                <li data-price="10" class="{eq name='price' value='10'}active{/eq}"><span><i></i></span>10元券</li>
                <li data-price="20" class="{eq name='price' value='20'}active{/eq}"><span><i></i></span>20元券</li>
                <li data-price="50" class="{eq name='price' value='50'}active{/eq}"><span><i></i></span>50元券</li>
                <li data-price="100" class="{eq name='price' value='100'}active{/eq}"><span><i></i></span>100元券</li>
            </ul>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    $(function(){
        $(document).on('scroll',function(){
            var _top = $(document).scrollTop();
            if(_top >= 400){
                backToTop
                $('.cate-box .tab-area').show();
                $('.tab-area').addClass('fixed');
            }else{

                $('.tab-area').removeClass('fixed');
                $('.cate-box  .tab-area').hide();
            }
        });
 });
</script>
<div class="wrapper home-oper-area">
    <div class="cate-area">
        {volist name="cate" id="vo"}
        <a class="cate-item" href="{:url('cate/index',array('id'=>$vo['id']))}" >
        	<div class="inner">
                <i class="cate-icon">{$vo['icon']}</i> {$vo['name']}
            </div>
        </a>
        {/volist}
    </div>
    <!--广告轮播-->
    <div class="banner-top">
        <div class="banner-area swiper-container swiper-container-horizontal">
            <div class="swiper-wrapper">
            {banner name='banner' position="1"}
                <div class="swiper-slide"><a target="_blank" class="swiper-slide swiper-slide-duplicate" href="{$banner.link|nav_url}" data-swiper-slide-index="{$banner['id']}" style="width: 660px;">
                    <img style="width: 100%;" src="{:get_config('WEB_SITE_URL')}{$banner.img_path}">
                </a></div>
            {/banner}   
            </div>
            
            <div class="swiper-bottom">
                <div class="swiper-pager"></div>
            </div>
            
        </div>
        
        <div class="top-right-banner">
            {banner name='banner' position="2"}
                <a  href="{$banner.link|nav_url}" target="_blank" title="{$banner.name}">
                    <img src="{:get_config('WEB_SITE_URL')}{$banner.img_path}" title="{$banner.description}">
                </a>
            {/banner} 
            
        </div>
        
    </div>

    
    <div class="small-banner-area">
        {banner name='banner' position="3"}
        <div href="javascript:;" class="small-banner-item">
            <a target="_blank" href="{$banner.link|nav_url}">
            <img src="{:get_config('WEB_SITE_URL')}{$banner.img_path}">
            <p class="title">{$banner['name']}</p>
            </a>
        </div>
        {/banner} 
    </div>
</div>
<div class="wrapper home-wrapper">
    {include file="common:goodsList"}
</div>
{include file="common:foot"}